@font-face {
    font-family: 'F1Regular';
    src: url(../../fonts/Formula1-Regular.ttf);
}

@font-face{
    font-family: "F1Black";
    src: url(../../fonts/Formula1-Black.ttf);
}

@font-face{
    font-family: "F1Wide";
    src: url(../../fonts/Formula1-Wide.ttf);
}

@font-face{
    font-family: "F1Bold";
    src: url(../../fonts/Formula1-Bold.ttf);
}

.maincard{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 2rem;
    transition: 0.3s ease-out;
}

.maincard:hover{
    transform: scale(1.2);
}


.maincard__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(148,148,152);
}

.maincard__header__place{
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    font-family: "F1Black";
    font-size: 2.5rem;
}

.maincard__header__points{
    display: block;
    font-family: "F1Wide";
    text-align: right;
}
.maincard__header__points__label{
    background-color: black;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.maincard__center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(148,148,152);
    align-items: center;
}

.maincard__center__country{
    border-radius: 5px;
}

.maincard__center__name{
    display: block;
}
.maincard__center__firstname{
    font-family: "F1Regular";
    font-size: 12px;
}

.maincard__center__lastname{
    font-family: "F1Bold";
    font-size: 18px;
}

.maincard__centerteam{
    font-family: "F1Regular";
    font-size: 12px;
    margin: 0.2rem;
}

.maincard__footer{
    display: block;
    background-image: url("https://www.formula1.com/etc/designs/fom-website/images/patterns/plus-x1.png");
}