@font-face {
    font-family: 'JosefinSansRegular';
    src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'TitilliumWebRegular';
    src: url(../fonts/titillium-web-v15-latin-regular.ttf);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container__typewriter{
    font-family: 'TitilliumWebRegular';
    font-size: 30px;
    margin: 0.5rem;
}

.container__cssf1, .container__jsenc, .container__jsGyved, .container__surprise{
    font-family: "JosefinSansRegular";
    font-size: 25px;
    margin: 1rem;
    background-color:antiquewhite;
    padding: 1.2rem;
    border-radius: 1rem;
    text-decoration: none;
    transition: .5s;
}

.container__cssf1:hover,.container__jsenc:hover,.container__jsGyved:hover, .container__surprise:hover{
    background-color:lightcoral;
    color: darkslateblue;
    transform: scale(1.1);
    cursor: pointer;
}